@model IEnumerable<ProVentaCarros.Models.Repuesto>

@{
    ViewData["Title"] = "Lista de Repuestos";
}

<h1 style="text-align: center; margin-bottom: 20px; color: #333;">Lista de Repuestos Disponibles</h1>

<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var item in Model)
    {
        <div class="col">
            <div class="card h-100" style="box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
                <div style="text-align: center; padding: 10px;">
                    @if (!string.IsNullOrWhiteSpace(item.ImgProducto))
                    {
                        <img src="@item.ImgProducto" class="card-img-top" alt="@item.NombreRepuesto" style="width: 200px; height: 150px; object-fit: contain;">
                    }
                    else
                    {
                        <p class="card-text">No hay imagen disponible.</p>
                    }
                </div>
                <div class="card-body">
                    <h5 class="card-title" style="text-align: center;">@Html.DisplayFor(modelItem => item.NombreRepuesto)</h5>
                    <ul class="list-unstyled">
                        <li><strong>Vendedor:</strong> @Html.DisplayFor(modelItem => item.IdVendedor)</li>
                        <li><strong>Departamento:</strong> @Html.DisplayFor(modelItem => item.IdDepartamento)</li>
                        <li><strong>Descripción:</strong> @Html.DisplayFor(modelItem => item.DescripcionR)</li>                      
                        <li><strong>Precio:</strong> @Html.DisplayFor(modelItem => item.Precio)</li>
                        <li><strong>Estado Fisico:</strong> @Html.DisplayFor(modelItem => item.EstadoRp)</li>

                    </ul>
                    <div class="text-center">
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm">Detalles</a>
                    </div>
                </div>
                <div class="card-footer text-muted text-center">
                    Publicado el @Html.DisplayFor(modelItem => item.FechaRp)
                </div>
            </div>
        </div>
    }
</div>

<style>
    .card {
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .card-title {
        color: #333;
        margin-bottom: 10px;
    }

    .card-text, .list-unstyled li {
        font-size: 0.9rem;
        color: #555;
        margin-bottom: 5px;
    }

    .btn-info {
        background-color: #17a2b8;
        border-color: #17a2b8;
        color: white;
    }

        .btn-info:hover {
            background-color: #138496;
            border-color: #138496;
        }
</style>
